
.modal-wrapper{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000000ba;
}

.modal-wrapper img {
  border: 5px solid #fff;
}

.image-warpper{
position: relative;
}

.close{
  position: absolute;
  width: 30px;
  height: 30px;
  background: red;
  right: -10px;
  top: -10px;
}